html, body {
    font-family:sans-serif;
	font-size:.9em;
	display:flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	
	border-radius: 10px;
    /* background: rgb(214 ,214 ,214); */
    /* box-shadow: 5px 5px 10px #b6a9a9, -5px -5px 10px #ffffff; */
    /* color: darkblue; */
	background: rgb(34 ,33 ,76);
    box-shadow: 5px 5px 10px #b6a9a9, -5px -5px 10px #ffffff;
	/* background: url(s.jpg) no-repeat center; */
	/* background-size:cover; */
}
.wrapper {
    width: 440px;
	height:auto;
    padding: 5px;
    margin: 0 auto;
	position:relative;
	color: #fff;
	display:flex;
	justify-content: center;
	align-items: center;
	margin:20px 30px;
	margin:1px auto;
}
#loginWrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    color: #fff;
    display: block;
    padding-top: 200px;
	
	border-radius: 3px;
    background: rgb(34 ,33 ,76);
    box-shadow: 5px 5px 10px #b6a9a9, -5px -5px 10px #ffffff;
}

#box{
	position:relative;
	width:320px;
	height:400px;
	color: #fff;
	background:#111;
	display:flex;
	justify-content: center;
	align-items: center;
	margin:20px 30px;
	transition:0.5s;
	margin:1px auto;	
}

#box::before{
	content:'';
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	border-radius: 10px;
    background: rgb(214 ,214 ,214);
    box-shadow: 5px 5px 10px #b6a9a9, -5px -5px 10px #ffffff;
}

#box::after{
	content:'';
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	border-radius: 10px;
    background: rgb(214 ,214 ,214);
    box-shadow: 5px 5px 10px #b6a9a9, -5px -5px 10px #ffffff;
}

#box h1{
	text-align:center;
	text-transform:uppercase;
	padding:35px;
	font-weight:500;
}

#box span{
	position: absolute;
	top:6px;
	left:6px;
	right:6px;
	bottom:6px;
	z-index:2;
	border-radius: 10px;
    background: rgb(34 ,33 ,76);
    box-shadow: 5px 5px 10px #b6a9a9, -5px -5px 10px #ffffff;
}

#nickWrapper {
    display: none;
	text-align:center;
	position:relative;
	display:flex;
	justify-content: center;
	align-items: center;
	padding:none;
	flex-wrap: wrap;
}
#nicknameInput{
	background:none;
	border:0;
	display:block;
	margin:10px auto;
	text-align:center;
	border:2px solid #3498db;
	padding:14px 10px;
	width:190px;
	outline:none;
	color:#efefef;
	border-radius:24px;
}
#nicknameInput:focus{
	width:210px;
	border-color:#2ecc71;
}
#loginBtn{
	background:none;
	border:0;
	display:block;
	margin:20px auto;
	text-align:center;
	border:2px solid #166FE5 ;
	padding:14px 40px; 
	outline:none;
	color:#efefef;
	border-radius:24px;
}
#loginBtn:hover{
	background:#166FE5;
}
.banner {
    height: 80px;
    width: 100%;
	background-color:#166FE5;
}
.banner h1 {
    padding-top:16px;
	margin-left:10px;
}
.controls {
    height: 82px;
    margin: 1px 0px;
    position: relative;
	border:none;
	background:#ddd;
}
#historyMsg {
    height: 400px;
    background-color: #fff;
    overflow: auto;
    padding: 2px;
}
#historyMsg img {
    max-width: 99%;
}
.timespan {
    color: #ddd;
}
.items {
    height: 40px;
}
#colorStyle {
    width: 50px;
	height:	25px;
    border: none;
    padding: 0;
}


.imageLable {
    position: relative;
}
#sendImage {
    position: absolute;
    width: 52px;
    left: 0;
    opacity: 0;
    overflow: hidden;
}
#Image{
	background:#99C3F7;
	outline:none;
	text-decoration: none;
	border:none;
}

#messageInput {
    width: 355px;
    height: 70px;
    float:left;
	outline:none;
	text-decoration: none;
	margin:10px right;
}
#sendBtn {
    width: 70px;
    height: 76px;
	background:#007DF2;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	border-radius:3px;
}
#emojiWrapper {
    display: none;
    width: 500px;
    bottom: 105px;
    position: absolute;
    background-color: #aaa;
    box-shadow: 0 0 10px #555;
}
#emojiWrapper img {
    margin: 2px;
    padding: 2px;
    width: 25px;
    height: 25px;
}
#emojiWrapper img:hover {
    background-color: blue;
}
#emoji{
    display: inline;
	background:#F7C954;
	border:none;
}
#status{
	 padding:10px;
}

#clearBtn{
	border:none;
	background:#BE0203;
	color:white;
}